<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Noticias</h1>
    <div class="noticia">
        <h2>La industria textil, golpeada: acusan un desplome cercano al 50%</h2>
        <img src="https://media.ambito.com/p/c6f47b9998992c0b667f5dc69df2cca4/adjuntos/239/imagenes/041/672/0041672242/655x368/smart/industria-textiljpg.jpg" alt="Noticia">
        <p>La Fundación Pro Tejer realizó una informe de coyuntura sobre la industria textil, donde describieron una enorme preocupación
             al realizar una comparación entre los bimestres mayo-junio de 2023 y 2024.</p>
        <p>Desde la institución aseguran transitar una ''situación alarmante'', que incluyen los despidos de más de 5 mil trabajadores y las suspensiones de otros 10 mil. También agregan que ''luego del récord de inversiones de los últimos 3 años 
        (que superaron los USD 1.400 millones) hoy 6 máquinas de cada 10 están paradas''</p>
    </div>
    
</body>
</html>