<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIENES SOMOS</title>
</head>
<body>
    <h1> Quienes Somos</h1>
    <p>Somos una empresa Textilera America textil se creo en 1985, con la finalidad de cubrir 
        ciertas necesidades que tienen los clientes en usar prendas de vestir acorde
        a sus exigencias en este caso: Sueters varoniles, chompas, chalecos, bufanadas,
        chulos, guantes, en todo modelo y variedad de colores con un acabado de punta. </p>
    <h2>MISION</h2>
    <p>"Nuestra misión es ser líderes en la industria textil, ofreciendo productos de alta calidad que combinen sostenibilidad e innovación. Nos comprometemos a brindar soluciones textiles que satisfagan las necesidades de nuestros clientes, al mismo tiempo que promovemos prácticas responsables en la producción y el uso de Materiales ecológicos Valoramos a nuestro equipo, a nuestros socios ya nuestras comunidades, y trabajamos 
        para crear un impacto positivo en cada paso de nuestra cadena de suministro.</p>
    <h2>VISION</h2>
    <p>"Nuestra visión es ser reconocida globalmente como un referente en la industria textil sostenible, innovando constantemente para ofrecer productos que no solo cumplan con las expectativas de nuestros clientes, sino que también respeten y protejan el medio ambiente. Aspiramos a construir un futuro donde la moda. y la sostenibilidad coexisten, inspirando a otras 
        empresas a adoptar prácticas responsables y fomentando un consumo consciente."</p>
    <h2>EQUIPO</h2>
    <img src="https://ibce.org.bo/images/noticias/logos/459_2.jpg" alt="Equipo">
</body>
</html>